<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwb4zXB5cX5a6CSm4cWLBGHUVOkaiMlF8</string>
	<key>GCM_SENDER_ID</key>
	<string>391409420887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daarulUkhuwwahApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-271200</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-271200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391409420887:ios:15d4ed8ae702618c867112</string>
</dict>
</plist>